/*MAPS*/
.email--link {
  color: #FFFDE9;
}

.whatsapp--link {
  color: #FFFDE9;
}

/*MAP-GET*/
.tittleSection {
  color: #2B2B2B;
}

/*EXTEND*/
.primerExtend, .segundoExtend {
  font-size: 1.2rem;
  margin: 0 5rem 0 5rem;
}

.segundoExtend {
  font-style: italic;
}

/*MIXIN*/
.textDescrptn {
  text-align: left;
  padding: 2rem;
}

/*@import"maps";
@import"extend";
@import"mixin";*/
* {
  padding: 0%;
  margin: 0%;
}

/*----------BODY----------*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Poppins', sans-serif;
  line-height: 1.5rem;
  background-color: #FFFDE9;
}

h1 {
  font-size: 4rem;
  color: #FFFDE9;
  width: 100%;
  text-align: center;
}

h2 {
  padding: 5rem;
  text-align: center;
  color: #2B2B2B;
  font-size: 2.5rem;
}

h3 {
  padding: 5rem 5rem 0rem 5rem;
  text-align: center;
}

.button {
  text-align: center;
  padding: 2rem;
}

.button li {
  list-style: none;
}

.button a {
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 1.1rem;
  padding: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 1rem;
}

.button :hover {
  background-color: #f0f0f0;
}

.submit__button {
  text-align: center;
  font-size: 1.5rem;
  padding: 5rem;
}

.submit__button form {
  padding: 5rem;
}

.submit__button input {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn {
  background-color: #2B2B2B;
  border-color: #FFFDE9;
  color: #FFFDE9;
}

/*----------HEADER----------*/
.header .navbar-brand {
  margin-left: 1rem;
}

.header #navbarNav {
  margin-right: 1rem;
}

.header li {
  padding-left: 1.5rem;
}

.header a {
  border-radius: 1rem;
}

.header a:hover {
  background-color: #373737;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*----------MAIN IMAGE----------*/
.top__img img {
  width: 100%;
}

/*----------PRODUCT SECTION----------*/
.product__descrptn--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_descrptn--img {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product_descrptn--img img {
  width: 100rem;
  max-width: 40%;
  min-width: 50%;
  border-radius: 1rem;
  border: 1px solid;
  border-color: #2B2B2B;
}

.product_descrptn--img :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

.product__descrptn {
  padding: 2rem 0rem 2rem 0rem;
  width: 100%;
}

.tittleSection {
  padding-bottom: 0rem;
}

.subtittleSection {
  text-align: center;
  padding: 0rem 1rem 1rem 1rem;
}

.subtittleSection h4 {
  margin: 0;
}

/*----------SERVICES SECTION----------*/
.services__descrptn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem;
  margin: auto;
}

.service--container {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f0f0f0;
  border-radius: 1rem;
  margin: 2rem;
  width: 50%;
}

.service--container p {
  padding-bottom: 2rem;
}

.services__descrptn--container {
  text-align: center;
}

.services__descrptn--container .services-text {
  margin: auto;
  padding: 2rem;
  width: 85%;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.card {
  margin: 2rem;
}

.card-img-top {
  padding: 2rem;
  border-radius: 2rem;
}

/*----------WHO WE WORK WITH SECTION----------*/
.who__work__whith--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background-color: #474747;
}

.who__work__whith--container img {
  width: 15rem;
}

.who__work__whith--container :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
}

/*----------WHO WE ARE SECTION----------*/
.who__descrptn {
  padding: 2rem 0rem 2rem 0rem;
  width: 100%;
}

.who__img {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.who__img img {
  width: 100rem;
  max-width: 40%;
  min-width: 50%;
  border-radius: 1rem;
  border: 1px solid;
  border-color: #2B2B2B;
}

.who__img :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

/*----------CONTACT----------*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__info--container {
  padding: 1.5rem;
  text-align: center;
}

.contact__info--container img {
  width: 3rem;
  height: 3rem;
}

.contact__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 150px 200px;
      grid-template-rows: 100px 150px 200px;
  -ms-grid-columns: 500px;
      grid-template-columns: 500px;
}

.contact__names {
  padding: 2rem;
  text-align: center;
}

h4 {
  padding: rem;
}

/*----------ACCOUNT----------*/
.form {
  margin: 2rem;
  padding: 2rem;
  border: 2px solid;
  border-radius: 2rem;
  border-color: #2B2B2B;
}

/*----------FOOTER----------*/
.footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin-top: 5rem;
}

.footer__logo {
  padding: 1rem;
  padding-left: 2.5rem;
}

.footer__contact {
  padding: 1rem;
  padding-right: 2.5rem;
}

.footer__contact ul h3 {
  color: white;
  font-size: 1.2rem;
}

.footer__contact ul li {
  list-style: none;
  padding-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__contact a {
  color: white;
  text-decoration: none;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.footer__contact--items {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */