* {
    padding: 0%;
    margin: 0%;
}

/*----------BODY----------*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
    h1 {
        padding: 5rem;
        text-align: center;
    }
    p {
        padding: 2rem;
        text-align: justify;
        justify-content: inter-word;
        width: 60%;
        margin: auto;
    }
    .button {
        text-align: center;
        padding: 2rem;
        li {
            list-style: none;       
        }
        a {
            color: black;
            text-decoration-line: none; 
            font-size: 1.1rem; 
            padding: 0.5rem;
            transition: 0.2s;  
            border-radius: 1rem;
        }
        :hover {
            background-color: rgb(240, 240, 240);
        }
    }
    .submit__button {
        text-align: center;
        font-size: 1.5rem;
        padding: 5rem;
        form {
            padding: 5rem;
        }
        input {
            font-size: 1.2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}


/*----------HEADER----------*/



.header {
    li {
        padding-left: 1.5rem;
    }
    a {
        border-radius: 1rem;
    }
    a:hover {
        background-color: rgb(55, 55, 55);
        transition: 0.5s;
    }
}



/*----------MAIN IMAGE----------*/


.top__img img {
    width: 100%;
}


/*----------PRODUCT SECTION----------*/


.product__descrptn--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.product_descrptn--img {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    img{
        max-width:40%;
        min-width: 50%;
        border-radius: 1rem;
    }
    :hover {
        transition: 0.5s;
        transform: scale(1.1);
        z-index: 2;
    }
}
.product__descrptn {
    padding: 2rem;
    
}

/*----------SERVICES SECTION----------*/


.services__descrptn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 2rem;
}
.service--container {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem; 
    margin: 2rem;
    width: 50%;
    p {
        padding-bottom: 2rem;
    }
    img {
        width: 25%;
        border-radius: 2%;
    }
}  
.services__descrptn--container {
    text-align: center;
}
.services__container {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}


/*----------WHO WE WORK WITH SECTION----------*/


.who__work__whith--container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;
    background-color: rgb(66, 66, 66);
    img {
        width: 15rem;
    }
    :hover {
        transition: 0.5s;
        transform: scale(1.3);
        z-index: 2;
    }
}


/*----------WHO WE ARE SECTION----------*/



.who__descrptn {
    padding-left: 5rem;
    padding-right: 5rem;
    p {
        text-align: justify;
        text-justify: inter-word
    }
}
.who__img {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    img {
        max-width: 40%;
        min-width: 50%;
        border-radius: 1rem;
    }
    :hover {
        transition: 0.5s;
        transform: scale(1.1);
        z-index: 2;
    }
}
/*----------CONTACT----------*/


.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact__info--container {
    padding: 1.5rem;
    text-align: center;
    img {
        width: 3rem;
        height: 3rem;
    }
}
.contact__container {
    display: grid;
    grid-template-rows: 100px 150px 200px;
    grid-template-columns: 500px;
}
/*.contact__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}*/
.contact__names {
    padding: 2rem;
    text-align: center;
}
h4 {
    padding: rem;
}


/*----------ACCOUNT----------*/


form {
    padding: 10rem;
    text-align: center;
}
.row {
    padding: 5rem;
    margin: 5rem;
    background-color: black;
    color: white;
}
.col-12 {
    padding: 2rem;
}

/*----------FOOTER----------*/


.footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
}
.footer__logo {
    padding: 1rem;
    padding-left: 2.5rem;
}
.footer__contact {
    padding: 1rem;
    padding-right: 2.5rem;
    ul h3 {
        color: white;
        font-size: 1.2rem;
    }
    ul li {
        list-style: none;
        padding-top: 0.8rem;    
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
.footer__contact--items {
    padding-right: 1.5rem;
    padding-top: 1rem;
}